{{ partial "head" . }} {{ partial "nav" . }} <pre>BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	13550.0  	|	13592.0
CSpot B/S	|	13461.5  	|	13559.8
Coinjar 	|	13500.0  	|	13530.0
ACX.io   	|	13460.1  	|	13517.4
BTC Mrkts	|	13505.6  	|	13531.6
IND RES  	|	13503.5  	|	13551.5
Bitfinex	|	9343.6  	|	9343.7
Coinfloor	|	7243.0  	|	7253.0
KrakenUS	|	9300.7  	|	9300.8
Bittrex 	|	9304.1  	|	9304.1
Gemini  	|	9308.1  	|	9308.1
Bitstamp	|	9298.4  	|	9301.1
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	13550.0  	|	13591.999
CSpot B/S	|	13461.491  	|	13559.832
Coinjar 	|	13500.0  	|	13530.0
ACX.io   	|	13457.517  	|	13549.827
BTC Mrkts	|	13500.582  	|	13530.46
IND RES  	|	13503.47  	|	13550.66
Bitfinex	|	13523.787  	|	13523.931
Coinfloor	|	13524.113  	|	13542.785
KrakenUS	|	13460.681  	|	13461.838
Bittrex 	|	13463.005  	|	13469.142
Gemini  	|	13466.182  	|	13472.375
Bitstamp	|	13458.321  	|	13462.331
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	275.0  	|	276.9
CSpot B/S	|	273.5  	|	280.0
Coinjar 	|	274.7  	|	279.2
ACX.io   	|	273.5  	|	276.5
BTC Mrkts	|	274.6  	|	275.4
IND RES  	|	274.9  	|	276.5
Bitfinex	|	190.4  	|	190.4
Coinfloor	|	147.0  	|	148.0
KrakenUS	|	189.6  	|	189.6
Bittrex 	|	189.4  	|	189.6
Gemini  	|	189.7  	|	189.7
Bitstamp	|	189.6  	|	189.8
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	275.0  	|	276.9
CSpot B/S	|	273.455  	|	280.005
Coinjar 	|	274.7  	|	279.2
ACX.io   	|	272.732  	|	276.571
BTC Mrkts	|	274.323  	|	275.59
IND RES  	|	274.883  	|	276.884
Bitfinex	|	275.514  	|	275.603
Coinfloor	|	274.478  	|	278.011
KrakenUS	|	274.302  	|	274.537
Bittrex 	|	274.148  	|	274.49
Gemini  	|	274.578  	|	274.627
Bitstamp	|	274.374  	|	274.699
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	91.0  	|	92.3
CSpot B/S	|	90.4  	|	92.7
Coinjar 	|	88.9  	|	92.0
ACX.io   	|	90.3  	|	91.7
BTC Mrkts	|	90.8  	|	90.9
IND RES  	|	91.0  	|	92.2
Bitfinex	|	63.0  	|	63.0
KrakenUS	|	62.8  	|	62.8
Bittrex 	|	62.7  	|	62.9
Gemini  	|	62.9  	|	62.9
Bitstamp	|	62.7  	|	62.8
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	91.04  	|	92.27
CSpot B/S	|	90.418  	|	92.726
Coinjar 	|	88.861  	|	92.0
ACX.io   	|	90.262  	|	91.71
BTC Mrkts	|	90.47  	|	91.627
IND RES  	|	90.377  	|	93.0
Bitfinex	|	91.059  	|	91.182
KrakenUS	|	90.806  	|	90.841
Bittrex 	|	90.649  	|	91.004
Gemini  	|	90.82  	|	90.866
Bitstamp	|	90.732  	|	90.911
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	424.5  	|	435.4
ACX.io   	|	423.7  	|	430.2
BTC Mrkts	|	425.9  	|	431.0
IND RES  	|	425.3  	|	431.0
Bitfinex	|	295.4  	|	295.7
KrakenUS	|	294.3  	|	294.5
Bittrex 	|	293.9  	|	294.9
Gemini  	|	294.1  	|	295.0
Bitstamp	|	294.2  	|	294.8
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	424.474  	|	435.373
ACX.io   	|	423.509  	|	430.291
BTC Mrkts	|	420.556  	|	436.001
IND RES  	|	423.09  	|	432.006
Bitfinex	|	427.424  	|	428.19
KrakenUS	|	425.821  	|	426.255
Bittrex 	|	425.362  	|	426.898
Gemini  	|	425.635  	|	427.162
Bitstamp	|	425.766  	|	426.754
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	1.5  	|	1.5
BTC Mrkts	|	1.5  	|	1.5
IND RES  	|	1.5  	|	1.6
Bitfinex	|	1.0  	|	1.0
Bittrex 	|	1.0  	|	1.0
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	1.471  	|	1.524
BTC Mrkts	|	1.459  	|	1.511
IND RES  	|	1.228  	|	2.112
Bitfinex	|	1.487  	|	1.495
Bittrex 	|	1.47  	|	2.014
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	0.0  	|	0.0
CSpot B/S	|	0.0  	|	0.0
Bitfinex	|	0.0  	|	0.0
Bittrex 	|	0.0  	|	0.0
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	0.029  	|	0.032
CSpot B/S	|	0.028  	|	0.029
Bitfinex	|	0.029  	|	0.029
Bittrex 	|	0.029  	|	0.029
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---



Rates are :

AUD->USD: 0.6909011754
AUD->NZD: 1.0783630823
AUD->GBP: 0.5355619131
AUD->EUR: 0.6219292245</pre>