{{ partial "head" . }} {{ partial "nav" . }} <pre>BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	12092.0  	|	12169.0
CSpot B/S	|	12122.5  	|	12209.8
Coinjar 	|	12150.0  	|	12179.9
ACX.io   	|	11961.6  	|	12175.0
BTC Mrkts	|	12133.1  	|	12160.4
IND RES  	|	12122.0  	|	12122.0
Bitfinex	|	8329.4  	|	8329.9
Coinfloor	|	6352.0  	|	6368.0
KrakenUS	|	8319.1  	|	8320.7
Bittrex 	|	8326.5  	|	8333.8
Gemini  	|	8320.1  	|	8327.2
Bitstamp	|	8321.5  	|	8333.1
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	12091.98  	|	12169.0
CSpot B/S	|	12122.471  	|	12209.775
Coinjar 	|	12150.0  	|	12179.878
ACX.io   	|	11965.21  	|	12174.994
BTC Mrkts	|	12133.1  	|	12159.99
IND RES  	|	12122.0  	|	12144.737
Bitfinex	|	12100.391  	|	12100.536
Coinfloor	|	12114.371  	|	12144.896
KrakenUS	|	12105.628  	|	12110.331
Bittrex 	|	12088.166  	|	12117.974
Gemini  	|	12102.442  	|	12110.589
Bitstamp	|	12103.175  	|	12113.599
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	210.3  	|	217.0
CSpot B/S	|	210.1  	|	215.3
Coinjar 	|	210.6  	|	216.7
ACX.io   	|	200.0  	|	209.9
BTC Mrkts	|	210.4  	|	211.0
IND RES  	|	210.4  	|	211.4
Bitfinex	|	144.8  	|	144.7
KrakenUS	|	144.7  	|	144.8
Bittrex 	|	144.7  	|	145.0
Gemini  	|	144.9  	|	144.9
Bitstamp	|	144.7  	|	144.8
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	210.28  	|	217.0
CSpot B/S	|	210.12  	|	215.306
Coinjar 	|	210.615  	|	216.7
ACX.io   	|	6.118  	|	226.743
BTC Mrkts	|	210.34  	|	211.242
IND RES  	|	209.994  	|	211.467
Bitfinex	|	210.354  	|	210.522
KrakenUS	|	210.409  	|	210.612
Bittrex 	|	210.229  	|	210.92
Gemini  	|	210.646  	|	210.794
Bitstamp	|	210.452  	|	210.746
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	68.9  	|	70.0
CSpot B/S	|	69.3  	|	71.2
Coinjar 	|	69.5  	|	70.7
ACX.io   	|	54.0  	|	90.0
BTC Mrkts	|	69.3  	|	69.6
IND RES  	|	69.5  	|	69.8
Bitfinex	|	47.8  	|	47.9
KrakenUS	|	47.8  	|	47.8
Bittrex 	|	47.8  	|	47.9
Gemini  	|	47.8  	|	47.8
Bitstamp	|	47.7  	|	47.9
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	68.928  	|	70.0
CSpot B/S	|	69.33  	|	71.166
Coinjar 	|	69.46  	|	70.72
ACX.io   	|	31.945  	|	130.392
BTC Mrkts	|	68.756  	|	69.851
IND RES  	|	69.049  	|	72.155
Bitfinex	|	69.441  	|	69.56
KrakenUS	|	69.469  	|	69.521
Bittrex 	|	69.415  	|	69.653
Gemini  	|	69.493  	|	69.545
Bitstamp	|	69.394  	|	69.61
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	355.0  	|	364.9
ACX.io   	|	0.0  	|	353.8
BTC Mrkts	|	352.0  	|	363.5
IND RES  	|	351.0  	|	357.4
Bitfinex	|	244.3  	|	244.4
KrakenUS	|	244.4  	|	244.5
Bittrex 	|	243.8  	|	245.2
Gemini  	|	244.2  	|	245.2
Bitstamp	|	244.2  	|	244.9
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	355.041  	|	364.923
ACX.io   	|	0.0  	|	699.298
BTC Mrkts	|	351.906  	|	363.17
IND RES  	|	351.618  	|	360.827
Bitfinex	|	355.137  	|	355.378
KrakenUS	|	355.363  	|	355.988
Bittrex 	|	354.602  	|	356.717
Gemini  	|	355.215  	|	356.666
Bitstamp	|	355.163  	|	356.679
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	1.0  	|	1.0
BTC Mrkts	|	1.0  	|	1.0
IND RES  	|	1.0  	|	1.0
Bitfinex	|	0.7  	|	0.7
Bittrex 	|	0.7  	|	0.7
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	0.975  	|	1.015
BTC Mrkts	|	0.976  	|	1.1
IND RES  	|	0.438  	|	1.54
Bitfinex	|	0.983  	|	0.99
Bittrex 	|	0.864  	|	1.338
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	0.0  	|	0.0
CSpot B/S	|	0.0  	|	0.0
Bitfinex	|	0.0  	|	0.0
Bittrex 	|	0.0  	|	0.0
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	0.02  	|	0.022
CSpot B/S	|	0.021  	|	0.022
Bitfinex	|	0.021  	|	0.021
Bittrex 	|	0.021  	|	0.021
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---



Rates are :

AUD->USD: 0.6874653867
AUD->NZD: 1.0358131807
AUD->GBP: 0.5241708203
AUD->EUR: 0.6153467479</pre>