{{ partial "head" . }} {{ partial "nav" . }} <pre>BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	8386.0  	|	8443.0
CSpot B/S	|	8388.8  	|	8447.5
Coinjar 	|	8322.4  	|	8433.0
ACX.io   	|	8358.8  	|	8405.0
BTC Mrkts	|	8381.5  	|	8400.5
IND RES  	|	8409.9  	|	8413.0
Bitfinex	|	6135.0  	|	6135.1
Coinfloor	|	4524.0  	|	4528.0
KrakenUS	|	5881.2  	|	5883.4
Bittrex 	|	5922.7  	|	5922.9
Gemini  	|	5877.8  	|	5877.8
Bitstamp	|	5878.0  	|	5878.0
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	8386.0  	|	8443.0
CSpot B/S	|	8388.808  	|	8447.544
Coinjar 	|	8322.411  	|	8433.041
ACX.io   	|	8352.85  	|	8404.99
BTC Mrkts	|	8381.541  	|	8402.926
IND RES  	|	8409.841  	|	8412.98
Bitfinex	|	8764.902  	|	8769.711
Coinfloor	|	8410.907  	|	8418.344
KrakenUS	|	8409.202  	|	8412.571
Bittrex 	|	8468.884  	|	8484.709
Gemini  	|	8404.421  	|	8406.24
Bitstamp	|	8404.287  	|	8404.935
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> Bitfinex 	|	 2.6%
CSpot B/S -> Bitfinex 	|	 1.6%
Coinjar  -> Bitfinex 	|	 3.7%
ACX.io    -> Bitfinex 	|	 3.9%
BTC Mrkts -> Bitfinex 	|	 3.5%
IND RES   -> Bitfinex 	|	 3.5%
Coinfloor -> Bitfinex 	|	 3.7%
KrakenUS -> Bitfinex 	|	 3.7%
Bittrex  -> Bitfinex 	|	 2.9%
Gemini   -> Bitfinex 	|	 3.8%
Bitstamp -> Bitfinex 	|	 3.8%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> Bitfinex 	|	 197.81
Coinjar  -> Bitfinex 	|	 313.29
ACX.io    -> Bitfinex 	|	 324.75
BTC Mrkts -> Bitfinex 	|	 291.54
IND RES   -> Bitfinex 	|	 286.85
Coinfloor -> Bitfinex 	|	 303.21
KrakenUS -> Bitfinex 	|	 310.36
Bittrex  -> Bitfinex 	|	 221.77
Gemini   -> Bitfinex 	|	 318.2
Bitstamp -> Bitfinex 	|	 319.82
ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	242.3  	|	253.0
CSpot B/S	|	237.9  	|	243.8
Coinjar 	|	237.3  	|	242.1
ACX.io   	|	238.8  	|	242.0
BTC Mrkts	|	240.0  	|	240.8
IND RES  	|	239.6  	|	240.7
Bitfinex	|	174.7  	|	174.7
Coinfloor	|	129.0  	|	130.0
KrakenUS	|	167.2  	|	167.3
Bittrex 	|	168.7  	|	169.0
Gemini  	|	167.3  	|	167.4
Bitstamp	|	167.2  	|	167.4
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	242.32  	|	253.0
CSpot B/S	|	237.912  	|	243.842
Coinjar 	|	237.308  	|	242.105
ACX.io   	|	238.415  	|	241.98
BTC Mrkts	|	239.647  	|	240.779
IND RES  	|	239.58  	|	240.68
Bitfinex	|	249.495  	|	249.676
Coinfloor	|	238.168  	|	241.693
KrakenUS	|	239.022  	|	239.173
Bittrex 	|	241.148  	|	241.878
Gemini  	|	239.166  	|	239.293
Bitstamp	|	238.903  	|	239.459
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinjar  -> Bitfinex 	|	 2.8%
ACX.io    -> Bitfinex 	|	 2.7%
BTC Mrkts -> Bitfinex 	|	 2.8%
IND RES   -> Bitfinex 	|	 3.0%
Coinfloor -> Bitfinex 	|	 2.8%
KrakenUS -> Bitfinex 	|	 3.9%
Bittrex  -> Bitfinex 	|	 2.7%
Gemini   -> Bitfinex 	|	 3.8%
Bitstamp -> Bitfinex 	|	 3.7%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinjar  -> Bitfinex 	|	 225.02
ACX.io    -> Bitfinex 	|	 207.08
BTC Mrkts -> Bitfinex 	|	 222.77
IND RES   -> Bitfinex 	|	 234.79
Coinfloor -> Bitfinex 	|	 214.35
KrakenUS -> Bitfinex 	|	 323.12
Bittrex  -> Bitfinex 	|	 206.43
Gemini   -> Bitfinex 	|	 317.86
Bitstamp -> Bitfinex 	|	 310.63
LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	104.8  	|	108.0
CSpot B/S	|	103.9  	|	106.5
Coinjar 	|	103.4  	|	105.5
ACX.io   	|	103.1  	|	105.4
BTC Mrkts	|	104.4  	|	104.9
IND RES  	|	103.9  	|	105.2
Bitfinex	|	76.2  	|	76.3
KrakenUS	|	73.0  	|	73.2
Bittrex 	|	73.5  	|	74.2
Gemini  	|	73.0  	|	73.1
Bitstamp	|	73.0  	|	73.2
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	104.85  	|	108.02
CSpot B/S	|	103.868  	|	106.522
Coinjar 	|	103.38  	|	105.525
ACX.io   	|	103.041  	|	105.404
BTC Mrkts	|	104.048  	|	105.26
IND RES  	|	103.146  	|	105.954
Bitfinex	|	109.02  	|	109.087
KrakenUS	|	104.382  	|	104.602
Bittrex 	|	105.151  	|	106.065
Gemini  	|	104.397  	|	104.611
Bitstamp	|	104.39  	|	104.675
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinjar  -> Bitfinex 	|	 3.1%
ACX.io    -> Bitfinex 	|	 3.0%
BTC Mrkts -> Bitfinex 	|	 2.8%
IND RES   -> Bitfinex 	|	 2.2%
KrakenUS -> Bitfinex 	|	 3.8%
Bittrex  -> Bitfinex 	|	 2.3%
Gemini   -> Bitfinex 	|	 3.8%
Bitstamp -> Bitfinex 	|	 3.7%
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinjar  -> Bitfinex 	|	 250.98
ACX.io    -> Bitfinex 	|	 239.6
BTC Mrkts -> Bitfinex 	|	 217.95
IND RES   -> Bitfinex 	|	 157.91
KrakenUS -> Bitfinex 	|	 313.95
Bittrex  -> Bitfinex 	|	 170.13
Gemini   -> Bitfinex 	|	 312.99
Bitstamp -> Bitfinex 	|	 306.66
BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	399.9  	|	410.7
ACX.io   	|	398.3  	|	405.4
BTC Mrkts	|	402.3  	|	413.6
IND RES  	|	396.8  	|	405.4
Bitfinex	|	293.7  	|	293.8
Coinfloor	|	208.0  	|	219.0
KrakenUS	|	281.5  	|	281.7
Bittrex 	|	282.3  	|	285.1
Gemini  	|	280.8  	|	282.2
Bitstamp	|	281.3  	|	282.0
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	399.899  	|	410.719
ACX.io   	|	398.006  	|	405.537
BTC Mrkts	|	399.68  	|	413.419
IND RES  	|	395.922  	|	407.843
Bitfinex	|	420.018  	|	420.141
Coinfloor	|	386.708  	|	409.651
KrakenUS	|	402.519  	|	403.11
Bittrex 	|	403.635  	|	407.63
Gemini  	|	401.459  	|	403.777
Bitstamp	|	402.202  	|	403.432
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
ACX.io    -> Bitfinex 	|	 1.0%
BTC Mrkts -> Bitfinex 	|	 1.0%
IND RES   -> Bitfinex 	|	 2.2%
Coinfloor -> Bitfinex 	|	 1.5%
KrakenUS -> Bitfinex 	|	 3.4%
Bittrex  -> Bitfinex 	|	 2.2%
Gemini   -> Bitfinex 	|	 3.2%
Bitstamp -> Bitfinex 	|	 3.3%
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
IND RES   -> Bitfinex 	|	 155.06
KrakenUS -> Bitfinex 	|	 280.2
Bittrex  -> Bitfinex 	|	 155.45
Gemini   -> Bitfinex 	|	 253.76
Bitstamp -> Bitfinex 	|	 262.66
OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	2.3  	|	2.4
BTC Mrkts	|	2.3  	|	2.4
IND RES  	|	2.2  	|	2.4
Bitfinex	|	1.7  	|	1.7
Bittrex 	|	1.6  	|	1.7
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	2.308  	|	2.388
BTC Mrkts	|	2.305  	|	2.355
IND RES  	|	2.126  	|	2.37
Bitfinex	|	2.431  	|	2.447
Bittrex 	|	2.35  	|	2.389
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
BTC Mrkts -> Bitfinex 	|	 1.0%
IND RES   -> Bitfinex 	|	 2.4%
Bittrex  -> Bitfinex 	|	 1.0%
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
IND RES   -> Bitfinex 	|	 156.74
TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	0.0  	|	0.0
CSpot B/S	|	0.0  	|	0.0
Bitfinex	|	0.0  	|	0.0
Bittrex 	|	0.0  	|	0.0
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	0.035  	|	0.035
CSpot B/S	|	0.035  	|	0.036
Bitfinex	|	0.037  	|	0.037
Bittrex 	|	0.035  	|	0.035
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> Bitfinex 	|	 1.9%
Bittrex  -> Bitfinex 	|	 2.9%
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> Bitfinex 	|	 125.18
Bittrex  -> Bitfinex 	|	 222.45


Rates are :

AUD->USD: 0.699351
AUD->NZD: 1.06399
AUD->GBP: 0.537873
AUD->EUR: 0.625157</pre>